In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Banking_project\transactions.csv")

In [3]:
df

,transaction_id,customer_id,transaction_date,transaction_type,amount,transaction_mode,merchant,status_transaction
0,30211,1,2024-10-10 18:49:07,Deposit,10357.06,Online,NaN,Success
1,34275,2,2024-04-16 09:52:39,Deposit,21938.08,Online,NaN,Success
2,35782,3,2025-07-01 08:53:34,Bill Payment,4645.28,Online,PhonePe,Success
3,20202,4,2024-10-30 06:28:34,Withdrawal,2415.29,UPI,NaN,Success
4,39691,5,2025-05-11 07:27:17,Deposit,2349.20,Branch,NaN,Success
...,...,...,...,...,...,...,...,...
4995,147,4996,2025-06-04 00:53:34,Deposit,1023.31,Online,NaN,Success
4996,38481,4997,2024-05-22 15:07:38,Withdrawal,541.49,Branch,NaN,Pending
4997,3399,4998,2024-05-11 19:35:12,Deposit,3388.57,UPI,NaN,Success
4998,16778,4999,2023-10-08 17:44:55,Bill Payment,1138.88,Online,Flipkart,Failed
4999,19533,5000,2025-08-26 01:51:16,Deposit,252.24,UPI,NaN,Success

In [4]:
df.head()

,transaction_id,customer_id,transaction_date,transaction_type,amount,transaction_mode,merchant,status_transaction
0,30211,1,2024-10-10 18:49:07,Deposit,10357.06,Online,NaN,Success
1,34275,2,2024-04-16 09:52:39,Deposit,21938.08,Online,NaN,Success
2,35782,3,2025-07-01 08:53:34,Bill Payment,4645.28,Online,PhonePe,Success
3,20202,4,2024-10-30 06:28:34,Withdrawal,2415.29,UPI,NaN,Success
4,39691,5,2025-05-11 07:27:17,Deposit,2349.20,Branch,NaN,Success

In [5]:
df.tail()

,transaction_id,customer_id,transaction_date,transaction_type,amount,transaction_mode,merchant,status_transaction
4995,147,4996,2025-06-04 00:53:34,Deposit,1023.31,Online,NaN,Success
4996,38481,4997,2024-05-22 15:07:38,Withdrawal,541.49,Branch,NaN,Pending
4997,3399,4998,2024-05-11 19:35:12,Deposit,3388.57,UPI,NaN,Success
4998,16778,4999,2023-10-08 17:44:55,Bill Payment,1138.88,Online,Flipkart,Failed
4999,19533,5000,2025-08-26 01:51:16,Deposit,252.24,UPI,NaN,Success

In [6]:
df.shape

(5000, 8)

In [8]:
df.columns

Index(['transaction_id', 'customer_id', 'transaction_date', 'transaction_type',
       'amount', 'transaction_mode', 'merchant', 'status_transaction'],
      dtype='object')

In [9]:
df.isnull().sum()

transaction_id           0
customer_id              0
transaction_date         0
transaction_type         0
amount                   0
transaction_mode         0
merchant              3468
status_transaction       0
dtype: int64

In [11]:
df.dtypes

transaction_id          int64
customer_id             int64
transaction_date       object
transaction_type       object
amount                float64
transaction_mode       object
merchant               object
status_transaction     object
dtype: object

In [ ]:
# converting the Datatypes

In [12]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'], errors='coerce')

In [14]:
df.dtypes

transaction_id                 int64
customer_id                    int64
transaction_date      datetime64[ns]
transaction_type              object
amount                       float64
transaction_mode              object
merchant                      object
status_transaction            object
dtype: object

In [ ]:
# Filling the missing values in the Merchant Column

In [16]:
def fill_merchant(row):
    if pd.notnull(row['merchant']):
        return row['merchant']
    elif row['transaction_type'].lower() == 'deposit':
        return 'Bank Deposit'
    elif row['transaction_type'].lower() == 'withdrawal':
        return 'ATM Withdrawal'
    elif row['transaction_type'].lower() == 'upi':
        return 'UPI Transfer'
    else:
        return 'Self Transaction'

df['merchant'] = df.apply(fill_merchant, axis=1)

In [17]:
df.isnull().sum()

transaction_id        0
customer_id           0
transaction_date      0
transaction_type      0
amount                0
transaction_mode      0
merchant              0
status_transaction    0
dtype: int64

In [ ]:
# Validate Amounts

In [22]:
df = df[df['amount'] > 0]

In [ ]:
# Creating New columns for Data Analysis

In [19]:
df['year'] = df['transaction_date'].dt.year
df['month'] = df['transaction_date'].dt.month_name()
df['day_of_week'] = df['transaction_date'].dt.day_name()
df['hour'] = df['transaction_date'].dt.hour

In [20]:
df

,transaction_id,customer_id,transaction_date,transaction_type,amount,transaction_mode,merchant,status_transaction,year,month,day_of_week,hour
0,30211,1,2024-10-10 18:49:07,Deposit,10357.06,Online,Bank Deposit,Success,2024,October,Thursday,18
1,34275,2,2024-04-16 09:52:39,Deposit,21938.08,Online,Bank Deposit,Success,2024,April,Tuesday,9
2,35782,3,2025-07-01 08:53:34,Bill Payment,4645.28,Online,PhonePe,Success,2025,July,Tuesday,8
3,20202,4,2024-10-30 06:28:34,Withdrawal,2415.29,UPI,ATM Withdrawal,Success,2024,October,Wednesday,6
4,39691,5,2025-05-11 07:27:17,Deposit,2349.20,Branch,Bank Deposit,Success,2025,May,Sunday,7
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,147,4996,2025-06-04 00:53:34,Deposit,1023.31,Online,Bank Deposit,Success,2025,June,Wednesday,0
4996,38481,4997,2024-05-22 15:07:38,Withdrawal,541.49,Branch,ATM Withdrawal,Pending,2024,May,Wednesday,15
4997,3399,4998,2024-05-11 19:35:12,Deposit,3388.57,UPI,Bank Deposit,Success,2024,May,Saturday,19
4998,16778,4999,2023-10-08 17:44:55,Bill Payment,1138.88,Online,Flipkart,Failed,2023,October,Sunday,17
4999,19533,5000,2025-08-26 01:51:16,Deposit,252.24,UPI,Bank Deposit,Success,2025,August,Tuesday,1

In [ ]:
# Rename colunms for consistency

In [24]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [ ]:
# Categorize transaction type (credit/debit)

In [25]:
df['transaction_category'] = df['transaction_type'].replace({
    'Deposit': 'Credit',
    'Withdrawal': 'Debit',
    'Bill Payment': 'Debit'
})

In [26]:
df

,transaction_id,customer_id,transaction_date,transaction_type,amount,transaction_mode,merchant,status_transaction,year,month,day_of_week,hour,transaction_category
0,30211,1,2024-10-10 18:49:07,Deposit,10357.06,Online,Bank Deposit,Success,2024,October,Thursday,18,Credit
1,34275,2,2024-04-16 09:52:39,Deposit,21938.08,Online,Bank Deposit,Success,2024,April,Tuesday,9,Credit
2,35782,3,2025-07-01 08:53:34,Bill Payment,4645.28,Online,PhonePe,Success,2025,July,Tuesday,8,Debit
3,20202,4,2024-10-30 06:28:34,Withdrawal,2415.29,UPI,ATM Withdrawal,Success,2024,October,Wednesday,6,Debit
4,39691,5,2025-05-11 07:27:17,Deposit,2349.20,Branch,Bank Deposit,Success,2025,May,Sunday,7,Credit
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,147,4996,2025-06-04 00:53:34,Deposit,1023.31,Online,Bank Deposit,Success,2025,June,Wednesday,0,Credit
4996,38481,4997,2024-05-22 15:07:38,Withdrawal,541.49,Branch,ATM Withdrawal,Pending,2024,May,Wednesday,15,Debit
4997,3399,4998,2024-05-11 19:35:12,Deposit,3388.57,UPI,Bank Deposit,Success,2024,May,Saturday,19,Credit
4998,16778,4999,2023-10-08 17:44:55,Bill Payment,1138.88,Online,Flipkart,Failed,2023,October,Sunday,17,Debit
4999,19533,5000,2025-08-26 01:51:16,Deposit,252.24,UPI,Bank Deposit,Success,2025,August,Tuesday,1,Credit

In [ ]:
# Reorder Columns for Better Structure

In [27]:
ordered_cols = [
    'transaction_id', 'customer_id', 'transaction_date', 'year', 'month', 'day_of_week', 'hour',
    'transaction_type', 'transaction_category', 'transaction_mode',
    'merchant', 'amount', 'status_transaction'
]
df = df[ordered_cols]

In [28]:
df

,transaction_id,customer_id,transaction_date,year,month,day_of_week,hour,transaction_type,transaction_category,transaction_mode,merchant,amount,status_transaction
0,30211,1,2024-10-10 18:49:07,2024,October,Thursday,18,Deposit,Credit,Online,Bank Deposit,10357.06,Success
1,34275,2,2024-04-16 09:52:39,2024,April,Tuesday,9,Deposit,Credit,Online,Bank Deposit,21938.08,Success
2,35782,3,2025-07-01 08:53:34,2025,July,Tuesday,8,Bill Payment,Debit,Online,PhonePe,4645.28,Success
3,20202,4,2024-10-30 06:28:34,2024,October,Wednesday,6,Withdrawal,Debit,UPI,ATM Withdrawal,2415.29,Success
4,39691,5,2025-05-11 07:27:17,2025,May,Sunday,7,Deposit,Credit,Branch,Bank Deposit,2349.20,Success
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,147,4996,2025-06-04 00:53:34,2025,June,Wednesday,0,Deposit,Credit,Online,Bank Deposit,1023.31,Success
4996,38481,4997,2024-05-22 15:07:38,2024,May,Wednesday,15,Withdrawal,Debit,Branch,ATM Withdrawal,541.49,Pending
4997,3399,4998,2024-05-11 19:35:12,2024,May,Saturday,19,Deposit,Credit,UPI,Bank Deposit,3388.57,Success
4998,16778,4999,2023-10-08 17:44:55,2023,October,Sunday,17,Bill Payment,Debit,Online,Flipkart,1138.88,Failed
4999,19533,5000,2025-08-26 01:51:16,2025,August,Tuesday,1,Deposit,Credit,UPI,Bank Deposit,252.24,Success

In [29]:
# Exporting the cleaned dataset

In [30]:
df.to_csv("C:\Banking_project\cleaned_transactions.csv",index=False)